<?xml version="1.0" encoding="UTF-8"?>
<!-- Extra logging related to initialization of Log4j. 
 Set to debug or trace if log4j initialization is failing. -->
<Configuration status="warn">

	<Properties>
		<Property name="basePath">./logs</Property>
	</Properties>

    <Appenders>
    	<!-- Console appender configuration -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <RollingFile name="File" fileName="${basePath}/automation.log" filePattern="${basePath}/automation-%d{yyyy-MM-dd}.log">
        	<PatternLayout
                pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
                <SizeBasedTriggeringPolicy size="5000" />
        </RollingFile>
    </Appenders>
    <Loggers>
    	<!-- Root logger referring to console appender -->
        <Root level="info">
            <!-- <AppenderRef ref="console" /> -->
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>